html {
  font-size: 14px;
  font-family:cursive;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 20px;
  /*background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpJVwiZp5-woh0mGHor2KLWJ8J_OqwVJVaCQ&usqp=CAU);*/
  background-image: url('../img/background.jpeg');
  background-size:auto;
  background-repeat:repeat;
  color: rgba(29, 139, 52, 0.765);

}

img{
  width:90px;
}

th img{
  width:12px; 
}

#wrap-td {
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
}



table.table-hover tbody tr:hover{
  background-color:#8AF43B;
}

#icon{
  width:20px;
  margin-right: 5px;
}