@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Panda Pizza Ltd</strong><br> Inventory Management System</h1>
    <p>Learn about <a href="https://localhost:7189/Identity/Account/Manage">Manage your account!</a>.</p>
</div>
