@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<div class="card border-success mb-3">
    <h1 class="card-header">@ViewData["Title"]</h1>
    <div class="card-body text-success">
        <p>We are a family-owned food company dedicated to inspiring possibilities!.</p>
        <p>In 1964, brothers and Comleama University students Lionard and Divianhn Ombiandwa started what they thought
            was
            going to be a small pizza joint at the corner of Bluff
            and Loama. The business, staffed by friends and family,
            served the newest food trend in Canada. The business thrived instantly and the company took off when its
            first
            franchised restaurant opened in Topeka. Now, it is the largest pizza company in the country.

            In 1986, the original Panda Pizza building found a fitting home on Wichita State University’s campus. It
            served
            as a landmark and a source of pride for students.

            In 2017, the building was moved again, but this time to the east side of WSU’s campus. By turning the
            building
            into a museum, it can be enjoyed by all in an interactive way.
            This story of the pizza place started by two brothers perfectly exemplifies the entrepreneurial spirit of
            Shockers and Kansans. We hope it will inspire future generations of dreamers and entrepreneurs.

            We are proud to found <em> Panda Pizza</em>.</p>
    </div>
    <div class="card-footer">
        Learn about <a href=" https://localhost:7189/Identity/Account/Manage">Manage your account!</a>.
    </div>
</div>
